<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>
	</title>
	<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>哦吼吼</h1>
		{# 显示副标题 #}
		<h2>哦吼吼<small>万万没想到</small></h2>
		<p>哦吼吼</p>
		{# 添加背景 #}
		<p>哦吼吼<mark>万万没想到</mark></p>
		{# 突出显示 #}
		<p class="lead">哦吼吼</p>
		<p class="text-left">你好吗？</p>
		<p class="text-right">我还行</p>
		<p class="text-center">你好吗？</p>
		<p class="text-lowercase">abc</p>
		<p class="text-uppercase">abc</p>
		<p class="text-capitalize">abc</p>
		
		<address>
			<strong>China University of Mining and Technology</strong></br>
			北京市，海淀区<br>
			Rd. xueyuan, Baoyuan Apartment:10022<br>
			<abbr title="Phone">18361231909</abbr>
		</address>
	</div>
</body>
</html>